<div class="header container">
<div class="logo">
    Confessions 
</div>
<div class="header links">
    <%=link_to "Home", root_path %>
    <%=link_to "New Post", new_post_path %>
    <%if user_signed_in? == false%>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Sign in", new_user_session_path %>
    <%else%>
    <%=link_to "Edit My Profile",  edit_user_registration_path%>
    <%end%>

</div>
</div>