<div class="index container">
<br/>

    <%if user_signed_in?%>
    You are logged in
    <%= current_user.name%>
    <%end%>
  
    <% @posts.each do |post|%>
    <div class="post_container">
    <ul>
        <div>
        <li>
        <%if user_signed_in?%>
            Author: <%=post.user.name%>
            </li>
        <%else %>
        Author: Sign in to view author!
        <%end%>
            <li>
                Title: <%=post.title%>
            </li>
            <li>
                Post: <%=post.body%>
            </li>
            
            </div>

            <div class="delete_link">
            <li>
                    <%= link_to "Delete", post_path(post), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                        } %>
            </li>

            </div>

    </ul>
    </div>

        <%end%>
    <%=button_to "Sign out", destroy_user_session_path,:method => :delete, class: "signout"%>
</div>
