  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "new_form_container">
  <div class ="new_form">
    <%= form_with model: @post, data: { turbo: false } do |form| %>
    <div class="new_form_item">
    <div>
      <%= form.label :title, "Title:" %>
      </div>
      <%= form.text_field :title%>
    </div>
    <div class="new_form_item">
        <div>
      <%= form.label :body, "Post:" %>
          </div>

      <%= form.text_field :body%>
    </div>
    <div class="new_form_item">
      <%= form.submit "Create Post" %>
    </div>
    <%end%> 
  </div>
</div>

